In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("./Fuel_Consumption_2000-2022.csv")
data

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 KM),COMB (L/100 KM),COMB (MPG),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22551,2022,VOLVO,XC40 T5 AWD,SUV: SMALL,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
22552,2022,VOLVO,XC60 B5 AWD,SUV: SMALL,2.0,4,AS8,Z,10.5,8.1,9.4,30,219
22553,2022,VOLVO,XC60 B6 AWD,SUV: SMALL,2.0,4,AS8,Z,11.0,8.7,9.9,29,232
22554,2022,VOLVO,XC90 T5 AWD,SUV: STANDARD,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
22555,2022,VOLVO,XC90 T6 AWD,SUV: STANDARD,2.0,4,AS8,Z,12.4,8.9,10.8,26,252

In [3]:
type(data)

pandas.core.frame.DataFrame

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22556 entries, 0 to 22555
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              22556 non-null  int64
 1   MAKE              22556 non-null  object
 2   MODEL             22556 non-null  object
 3   VEHICLE CLASS     22556 non-null  object
 4   ENGINE SIZE       22556 non-null  float64
 5   CYLINDERS         22556 non-null  int64
 6   TRANSMISSION      22556 non-null  object
 7   FUEL              22556 non-null  object
 8   FUEL CONSUMPTION  22556 non-null  float64
 9   HWY (L/100 KM)    22556 non-null  float64
 10  COMB (L/100 KM)   22556 non-null  float64
 11  COMB (MPG)        22556 non-null  int64
 12  EMISSIONS         22556 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.2+ MB

In [5]:
data["MAKE"]

0        ACURA
1        ACURA
2        ACURA
3        ACURA
4        ACURA
         ...
22551    VOLVO
22552    VOLVO
22553    VOLVO
22554    VOLVO
22555    VOLVO
Name: MAKE, Length: 22556, dtype: object

In [6]:
# selezionare piÃ¹ colonne

data[["MAKE", "MODEL", "YEAR"]]

        MAKE        MODEL  YEAR
0      ACURA        1.6EL  2000
1      ACURA        1.6EL  2000
2      ACURA        3.2TL  2000
3      ACURA        3.5RL  2000
4      ACURA      INTEGRA  2000
...      ...          ...   ...
22551  VOLVO  XC40 T5 AWD  2022
22552  VOLVO  XC60 B5 AWD  2022
22553  VOLVO  XC60 B6 AWD  2022
22554  VOLVO  XC90 T5 AWD  2022
22555  VOLVO  XC90 T6 AWD  2022

[22556 rows x 3 columns]

In [7]:
data.iloc[0:5]

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 KM),COMB (L/100 KM),COMB (MPG),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198

In [8]:
data["MAKE"].value_counts()

MAKE
CHEVROLET        2130
FORD             1724
BMW              1490
GMC              1357
MERCEDES-BENZ    1276
TOYOTA           1001
PORSCHE           988
DODGE             925
AUDI              805
NISSAN            764
VOLKSWAGEN        701
MAZDA             602
HYUNDAI           561
HONDA             561
JEEP              544
KIA               532
SUBARU            520
VOLVO             515
LEXUS             460
CADILLAC          434
CHRYSLER          425
MINI              406
JAGUAR            364
MITSUBISHI        322
INFINITI          280
BUICK             273
PONTIAC           253
ACURA             247
LINCOLN           225
SUZUKI            199
SAAB              190
LAND ROVER        174
SATURN            156
RAM               153
MASERATI          125
BENTLEY           118
LAMBORGHINI       111
ASTON MARTIN      106
ROLLS-ROYCE       106
FIAT               85
FERRARI            73
SCION              44
ALFA ROMEO         42
GENESIS            42
OLDSMOBILE         34
DAEWOO             34
SMART              22
HUMMER             21
ISUZU              18
BUGATTI            12
SRT                 4
PLYMOUTH            2
Name: count, dtype: int64

In [9]:
data[(data["MAKE"] == "BMW") & (data["CYLINDERS"] == 8)]

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 KM),COMB (L/100 KM),COMB (MPG),EMISSIONS
45,2000,BMW,540I,COMPACT,4.4,8,A5,Z,13.1,8.8,11.2,25,258
46,2000,BMW,540I,COMPACT,4.4,8,M6,Z,14.7,9.1,12.2,23,281
47,2000,BMW,540I TOURING,STATION WAGON - SMALL,4.4,8,A5,Z,13.9,10.1,12.2,23,281
48,2000,BMW,740I,MID-SIZE,4.4,8,A5,Z,13.8,9.2,11.7,24,269
49,2000,BMW,740IL,FULL-SIZE,4.4,8,A5,Z,13.8,9.2,11.7,24,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21723,2022,BMW,X5 M50I,SUV: STANDARD,4.4,8,AS8,Z,14.4,10.6,12.7,22,302
21725,2022,BMW,X6 M,SUV: STANDARD,4.4,8,AS8,Z,17.9,13.0,15.7,18,364
21726,2022,BMW,X6 M COMPETITION,SUV: STANDARD,4.4,8,AS8,Z,17.9,13.0,15.7,18,364
21727,2022,BMW,X6 M50I,SUV: STANDARD,4.4,8,AS8,Z,14.4,10.6,12.7,22,302
21729,2022,BMW,X7 M50I,SUV: STANDARD,4.4,8,AS8,Z,15.7,11.5,13.8,20,321

In [10]:
data[(data["MAKE"] == "BMW")]["CYLINDERS"].value_counts()

CYLINDERS
6     883
8     369
4     191
10     25
12     22
Name: count, dtype: int64

In [11]:
data[["FUEL","EMISSIONS"]].groupby("FUEL").mean()

       EMISSIONS
FUEL
D     230.305732
E     270.578898
N     312.848485
X     240.280748
Z     260.574818

## Scelta una marca contare quanti tipologie di veicolo

In [12]:
data[data["MAKE"] == "VOLVO"]["VEHICLE CLASS"].value_counts()

VEHICLE CLASS
COMPACT                     177
STATION WAGON - MID-SIZE     66
STATION WAGON - SMALL        56
SUV                          55
MID-SIZE                     52
SUV - SMALL                  30
SUBCOMPACT                   22
SUV: SMALL                   18
STATION WAGON: SMALL         15
SUV: STANDARD                10
SUV - STANDARD                8
STATION WAGON: MID-SIZE       6
Name: count, dtype: int64

In [13]:
audi_bmw = (data["MAKE"] == "AUDI") | (data["MAKE"] == "BMW")
data[audi_bmw][["MAKE","CYLINDERS","EMISSIONS"]].groupby(["MAKE","CYLINDERS"]).mean()

                 EMISSIONS
MAKE CYLINDERS
AUDI 4          209.636076
     5          241.666667
     6          249.483271
     8          292.469136
     10         337.682927
     12         319.750000
BMW  4          202.361257
     6          237.628539
     8          295.701897
     10         358.400000
     12         323.590909

In [14]:
consMarca = data[["MAKE", "FUEL CONSUMPTION"]].groupby("MAKE").mean()
consMarca

               FUEL CONSUMPTION
MAKE
ACURA                 10.937652
ALFA ROMEO            11.104762
ASTON MARTIN          17.026415
AUDI                  12.496894
BENTLEY               19.685593
BMW                   12.730537
BUGATTI               27.650000
BUICK                 12.182051
CADILLAC              13.696313
CHEVROLET             14.352019
CHRYSLER              12.698824
DAEWOO                10.535294
DODGE                 15.147459
FERRARI               21.683562
FIAT                   8.842353
FORD                  13.569026
GENESIS               13.495238
GMC                   16.188357
HONDA                  9.381640
HUMMER                16.390476
HYUNDAI               10.052941
INFINITI              12.596071
ISUZU                 14.888889
JAGUAR                13.376374
JEEP                  12.529963
KIA                   10.142669
LAMBORGHINI           21.001802
LAND ROVER            15.174713
LEXUS                 11.676087
LINCOLN               13.361333
MASERATI              16.636800
MAZDA                 10.468771
MERCEDES-BENZ         13.721787
MINI                   8.820690
MITSUBISHI            10.577640
NISSAN                11.511649
OLDSMOBILE            12.132353
PLYMOUTH              13.800000
PONTIAC               11.082213
PORSCHE               12.787854
RAM                   14.760131
ROLLS-ROYCE           19.346226
SAAB                  12.201053
SATURN                10.721154
SCION                  8.797727
SMART                  5.972727
SRT                   18.100000
SUBARU                10.757308
SUZUKI                10.072864
TOYOTA                10.644555
VOLKSWAGEN            10.284023
VOLVO                 11.637282

In [15]:
type(consMarca)

pandas.core.frame.DataFrame

In [16]:
type(consMarca.values)

numpy.ndarray

In [17]:
consMarca.to_numpy()

array([[10.93765182],
       [11.1047619 ],
       [17.02641509],
       [12.49689441],
       [19.68559322],
       [12.73053691],
       [27.65      ],
       [12.18205128],
       [13.69631336],
       [14.35201878],
       [12.69882353],
       [10.53529412],
       [15.14745946],
       [21.68356164],
       [ 8.84235294],
       [13.56902552],
       [13.4952381 ],
       [16.18835667],
       [ 9.38163993],
       [16.39047619],
       [10.05294118],
       [12.59607143],
       [14.88888889],
       [13.37637363],
       [12.52996324],
       [10.14266917],
       [21.0018018 ],
       [15.17471264],
       [11.67608696],
       [13.36133333],
       [16.6368    ],
       [10.46877076],
       [13.72178683],
       [ 8.82068966],
       [10.57763975],
       [11.51164921],
       [12.13235294],
       [13.8       ],
       [11.08221344],
       [12.78785425],
       [14.76013072],
       [19.34622642],
       [12.20105263],
       [10.72115385],
       [ 8.79772727],
       [ 5.97272727],
       [18.1       ],
       [10.75730769],
       [10.07286432],
       [10.64455544],
       [10.28402282],
       [11.63728155]])

In [18]:
consMarca.to_clipboard()
"""
MAKE	FUEL CONSUMPTION
ACURA	10.937651821862348
ALFA ROMEO	11.104761904761904
ASTON MARTIN	17.026415094339622
AUDI	12.496894409937887
BENTLEY	19.685593220338983
BMW	12.730536912751678
BUGATTI	27.650000000000002
BUICK	12.182051282051281
CADILLAC	13.6963133640553
CHEVROLET	14.352018779342723
CHRYSLER	12.698823529411765
DAEWOO	10.535294117647059
DODGE	15.147459459459458
FERRARI	21.683561643835617
FIAT	8.84235294117647
FORD	13.569025522041763
GENESIS	13.495238095238093
GMC	16.188356669123063
HONDA	9.381639928698753
HUMMER	16.39047619047619
HYUNDAI	10.052941176470588
INFINITI	12.59607142857143
ISUZU	14.88888888888889
JAGUAR	13.376373626373626
JEEP	12.529963235294119
KIA	10.14266917293233
LAMBORGHINI	21.0018018018018
LAND ROVER	15.174712643678161
LEXUS	11.67608695652174
LINCOLN	13.361333333333334
MASERATI	16.6368
MAZDA	10.4687707641196
MERCEDES-BENZ	13.7217868338558
MINI	8.820689655172414
MITSUBISHI	10.577639751552795
NISSAN	11.511649214659686
OLDSMOBILE	12.132352941176471
PLYMOUTH	13.8
PONTIAC	11.08221343873518
PORSCHE	12.787854251012146
RAM	14.76013071895425
ROLLS-ROYCE	19.34622641509434
SAAB	12.201052631578946
SATURN	10.721153846153847
SCION	8.797727272727274
SMART	5.972727272727273
SRT	18.1
SUBARU	10.757307692307693
SUZUKI	10.07286432160804
TOYOTA	10.644555444555445
VOLKSWAGEN	10.284022824536377
VOLVO	11.637281553398058
"""

'\nMAKE\tFUEL CONSUMPTION\nACURA\t10.937651821862348\nALFA ROMEO\t11.104761904761904\nASTON MARTIN\t17.026415094339622\nAUDI\t12.496894409937887\nBENTLEY\t19.685593220338983\nBMW\t12.730536912751678\nBUGATTI\t27.650000000000002\nBUICK\t12.182051282051281\nCADILLAC\t13.6963133640553\nCHEVROLET\t14.352018779342723\nCHRYSLER\t12.698823529411765\nDAEWOO\t10.535294117647059\nDODGE\t15.147459459459458\nFERRARI\t21.683561643835617\nFIAT\t8.84235294117647\nFORD\t13.569025522041763\nGENESIS\t13.495238095238093\nGMC\t16.188356669123063\nHONDA\t9.381639928698753\nHUMMER\t16.39047619047619\nHYUNDAI\t10.052941176470588\nINFINITI\t12.59607142857143\nISUZU\t14.88888888888889\nJAGUAR\t13.376373626373626\nJEEP\t12.529963235294119\nKIA\t10.14266917293233\nLAMBORGHINI\t21.0018018018018\nLAND ROVER\t15.174712643678161\nLEXUS\t11.67608695652174\nLINCOLN\t13.361333333333334\nMASERATI\t16.6368\nMAZDA\t10.4687707641196\nMERCEDES-BENZ\t13.7217868338558\nMINI\t8.820689655172414\nMITSUBISHI\t10.577639751552795\nNISSAN\t11.511649214659686\nOLDSMOBILE\t12.132352941176471\nPLYMOUTH\t13.8\nPONTIAC\t11.08221343873518\nPORSCHE\t12.787854251012146\nRAM\t14.76013071895425\nROLLS-ROYCE\t19.34622641509434\nSAAB\t12.201052631578946\nSATURN\t10.721153846153847\nSCION\t8.797727272727274\nSMART\t5.972727272727273\nSRT\t18.1\nSUBARU\t10.757307692307693\nSUZUKI\t10.07286432160804\nTOYOTA\t10.644555444555445\nVOLKSWAGEN\t10.284022824536377\nVOLVO\t11.637281553398058\n'